


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(244, 244, 244);
}

@font-face{
    src: url(Comfortaa-Regular.ttf);
    font-family: comf;
}

.first-section{
    width: 100%;
    height: 100vh;
    background-color: rgb(252, 244, 235);
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    padding: 15px;
}

.logo-text{
    font-size: 23px;
    font-family: comf;
    font-weight: 800;
}

.eng{
    color: rgb(196, 6, 6);
}

.first-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.first-nav ul li{
    list-style-type: none;
    color: rgb(142, 142, 142);
    font-family: comf;
    font-size: 13px;
    font-weight: 500;
}

.whatsapp-us-nav{
    color: rgb(255, 167, 3);
    background-color: white;
    padding: 9px 20px;
    border-radius: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ham{
    background-color: #eae0d5;
    padding: 2px 10px;
    border-radius: 2px;
}

.main-nav-btn{
    border: none;
    display: none;
}

/* ###################### */

.second-nav{
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100dvh;
    background-color: #a36322;
    color: #eae0d5;
    padding: 35px;
    font-family: Psilograph;
    z-index: 999;
}

.second-nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
    background-color: transparent;
    border: none;
}

.second-nav-btn .left{
    transform: rotate(45deg);
}

.second-nav-btn .right{
    transform: rotate(-45deg);
    position: absolute;
    top: 35px;
}

.second-logo-text{
    padding-left: 10px;
    padding-top: 20px;
    color: white;
    font-family: comf;
}

.second-nav-ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

.second-nav-ul li{
    list-style-type: none;
    width: 100%;
    padding: 10px;
    font-family: comf;
    font-size: 12px;
}

.second-nav-ul li:hover{
    background-color: #5e503f;
    border-radius: 5px;
}

@media(max-width: 1060px){

    .first-nav ul{
        display: none;
    }

    .main-nav-btn{
        display: flex;
    }

}

/* ------------------------ */

.intro-section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 80px;
    padding: 20px;
    margin-top: 40px;
}

.intro-content{
    width: 34%;
}

.intro-content h4{
    font-size: 40px;
    font-family: comf;
    color: rgb(255, 167, 3);
}

.after-h4{
    font-size: 11px;
    font-family: comf;
    color: rgb(121, 121, 121);
    border-bottom: 40px solid transparent;
}

.after-h4 span{
    color: rgb(152, 101, 5);
    font-weight: 700;
}

.call{
    color: white;
    padding: 13px 30px;
    background-color: rgb(255, 167, 3);
    text-decoration: none;
    border-radius: 40px;
    font-family: comf;
    font-size: 13px;
}

.a-text{
    padding: 16px 0px 50px 20px;
    font-size: 9px;
    font-family: comf;
    color: rgb(121, 121, 121);
}

.batch-start-div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 11px;
}

.batch{
    color: orange;
    font-size: 12px;
    font-family: comf;
}

.batch-time-divs{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.num{
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-family: comf;
    font-weight: 800;
    width: 60px;
    height: 60px;
}

.num-text{
    text-align: center;
    color: orange;
    font-family: comf;
    font-size: 12px;
    padding-top: 5px;
}

.intro-video{
    height: 240px;
    width: 426px;
    border-radius: 20px;
}


.intro-video video{
    height: 240px;
    width: 426px;
    border-radius: 20px;
}

@media (max-width: 1250px) {

    .first-section{
        height: 60vh;
    }

}

@media (max-width: 1060px) {

    .first-section{
        height: 87vh;
    }

    .intro-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .intro-content {
        width: 44%;
    }

    .intro-content h4 {
        font-size: 32px;
    }

    .intro-content .after-h4{
        font-size: 10px;
    }

    .batch-time-divs {
        gap: 15px;
    }
}

@media (max-width: 800px) {

    .first-section{
        height: 87vh;
    }

    .intro-section{
        justify-content: center;
        align-items: center;
    }

    .intro-content{
        width: 50%;
    }

    .intro-content h4{
        font-size: 30px;
    }

    .after-h4{
        font-size: 8px;
    }

}   

@media (max-width: 700px) {

    .intro-section{
        justify-content: center;
        align-items: center;
    }

    .intro-content{
        width: 60%;
    }

    .intro-content h4{
        font-size: 30px;
    }

    .after-h4{
        font-size: 8px;
    }

}   

@media (max-width: 580px) {

    .first-section{
        height: 85vh;
    }

    .intro-section{
        justify-content: center;
        align-items: center;
    }

    .intro-content{
        width: 85%;
    }

    .intro-content h4{
        font-size: 30px;
    }

    .after-h4{
        font-size: 8px;
    }

} 

@media (max-width: 450px) {

    .intro-section{
        justify-content: center;
        align-items: center;
    }

    .intro-content{
        width: 85%;
    }

    .intro-content h4{
        font-size: 30px;
    }

    .after-h4{
        font-size: 8px;
    }

    .intro-video{
        height: 170px;
        width: 356px;
    }

    .intro-video video{
        height: 170px;
        width: 356px;
    }

} 

/* --------------------------------- */

.cards{
    width: 100%;
    /* height: 35vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.all-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    height: 180px;
    width: 160px;
    border: 2px solid rgba(255, 166, 0, 0.17);
    padding: 10px;
    font-family: comf;
    background-color: white;
    border-radius: 5px;
}

.card-icon{
    font-size: 50px;
}

.card-titel{
    font-size: 12px;
    color: rgb(140, 140, 140);
    font-weight: 500;
}

.card-line{
    font-size: 12px;
    color: rgb(140, 140, 140);
    font-weight: 500;
}

.card-text{
    font-size: 12px;
    color: orange;
    font-weight: 500;
    text-align: center;
    padding-top: 8px;
}

@media (max-width: 800px) {

    .all-cards{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

}

/* -------------------------------- */

.why-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-content{
    width: 690px;
    background-color: white;
    padding: 30px 20px;
    border-radius: 8px;
}

.why-content h2{
    font-family: comf;
    font-size: 30px;
    color: #a36322;
    margin-bottom: 20px;
}

.why-all-card{
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.why-card1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #a3632219;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.why-card1-img{
    height: 100px;
    width: 100px;
    background: url(./images/why1.jpg);
    border-radius: 20px;
    background-size: cover;
}

.img2{
    background: url(./images/why2.jpg);
    background-size: cover;
}

.img3{
    background: url(./images/why3.jpg);
    background-size: cover;
}

.img4{
    background: url(./images/why4.jpg);
    background-size: cover;
}

.why-card1-content{
    width: 80%;
    font-family: comf;
    font-size: 13px;
}

.point-1{
    padding-bottom: 10px;
    font-weight: 600;
    color: rgb(2, 2, 72);
}

.point-text{
    color: rgb(113, 113, 113);
}

@media (max-width: 800px) {

    .why-content{
        width: 400px;
    }

}

/* -------------------------------- */

.benefits{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.benefits-content{
    width: 690px;
    background-color: white;
    padding: 30px 60px;
    border-radius: 8px;
}

.benefits-content h2{
    font-family: comf;
    font-size: 30px;
    color: #a36322;
    margin-bottom: 20px;
    text-align: center;
}

.benefits-all-cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.benefits-card1{
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.benefits-card1-img{
    width: 270px;
    height: 270px;
    background: url(./images/b1.jpg);
    background-size: cover;
    border-radius: 20px;
}

.be2{
    background: url(./images/b2.jpg);
    background-size: cover;
}

.be3{
    background: url(./images/b3.jpg);
    background-size: cover;
}

.be4{
    background: url(./images/b4.jpg);
    background-size: cover;
}

.benefits-card1-text{
    font-size: 13px;
    font-family: comf;
    color: rgb(126, 126, 126);
}

@media (max-width: 800px) {

    .benefits-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
    }

    .benefits-all-cards{
        grid-template-columns: auto;
    }

}

/* -------------------------------- */

.curriculum{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.curriculum-content{
    width: 690px;
    background-color: white;
    padding: 30px 60px;
    border-radius: 8px;
}

.curriculum-content h2{
    font-family: comf;
    font-size: 30px;
    color: #a36322;
    margin-bottom: 20px;
    text-align: center;
}

.curriculum-all-go-text{
    text-align: center;
    font-size: 13px;
    font-family: comf;
    font-weight: 600;
    color: rgb(2, 2, 72);
    padding-bottom: 40px;
}

.curriculum-special-color{
    padding-bottom: 10px;
    color: #a36322;
    border-bottom: 2px solid #a36322;
}

.curriculum-all-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.curriculum-card1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.curriculum-card-date{
    width: 110px;
    height: 90px;
    background-color: rgba(234, 234, 234, 0.487);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    border-radius: 10px;
    font-family: comf;
}

.day-count{
    color: #a36322;
    font-weight: 600;
}

.day{
    font-size: 13px;
}

.curriculum-card1-content{
    width: 450px;
    height: 90px;    
    background-color: rgba(234, 234, 234, 0.487);
    border-radius: 10px;
    padding: 10px;
}

.this-bold{
    font-family: comf;
    font-size: 13px;
    font-weight: 600;
    color: rgb(49, 49, 49);
    padding-bottom: 7px;
    padding-top: 5px;
}

.just-text{
    font-family: comf;
    font-size: 12px;
    color: rgb(144, 144, 144);
    text-align: justify;
}

@media (max-width: 800px) {

    .curriculum-content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 400px;
    }

    .curriculum-all-cards{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }

    .curriculum-card1{
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid #a3632293;
        padding: 5px;
        border-radius: 10px;
    }

    .curriculum-card-date{
        width: 160px;
        height: 30px;
        flex-direction: row;
    }

    .curriculum-card1-content{
        width: 160px;
        height: 180px;
    }

}

/* -------------------------------- */

.teachers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.teachers-content{
    width: 690px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
}

.teachers-content h2{
    font-family: comf;
    font-size: 30px;
    color: #a36322;
    margin-bottom: 20px;
    text-align: center;
}

.teachers-all-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.teachers-card1{
    width: 200px;
}

.teacher-img1{
    width: 200px;
    height: 220px;
    border-radius: 10px;
}

.t1{
    background: url(./images/t1.jpg);
    background-size: cover;
}

.t2{
    background: url(./images/t2.jpg);
    background-size: cover;
}

.t3{
    background: url(./images/t3.jpg);
    background-size: cover;
}

.teachers-card1 h3{
    text-align: center;
    padding: 17px 0px;
    font-size: 18px;
    font-family: comf;
    font-weight: 600;
    color: #a36322;
}

.teacher-text{
    text-align: justify;
    font-size: 12px;
    font-family: comf;
    color: gray;
    padding-bottom: 20px;
}

.teacher-show-more{
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    color: blue;
    text-decoration: underline;
    font-family: comf;
}

@media (max-width: 800px) {

    .teachers-content{
        width: 400px;
    }

    .teachers-all-cards{
        display: grid;
        grid-template-columns: auto;
        gap: 40px;
    }

}

/* -------------------------------- */

.students{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.students-content{
    width: 690px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.students-content h2{
    font-family: comf;
    font-size: 30px;
    color: #a36322;
    margin-bottom: 20px;
    text-align: center;
}

.students-all-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.student-card1{
    border: 1px solid rgba(0, 0, 0, 0.21);
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.student-card-img-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 10px;
}

.student-card-img-name h4{
    font-size: 16px;
    font-family: comf;
    color: rgb(2, 2, 72);
    font-weight: 600;
}

.student-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: aquamarine;
}

.s1{
    background: url(./images/s1.jpg);
    background-size: cover;
}

.s2{
    background: url(./images/s2.jpg);
    background-size: cover;
}

.s3{
    background: url(./images/s3.jpg);
    background-size: cover;
}

.s4{
    background: url(./images/s4.jpg);
    background-size: cover;
}

.s5{
    background: url(./images/s5.jpg);
    background-size: cover;
}

.student-text{
    padding: 0px 50px;
    text-align: center;
    font-size: 13px;
    color: gray;
    font-family: comf;
}

.student-pages{
    padding: 60px 0px 0px 0px;
    display: flex;
    gap: 15px;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 7px;
    background-color: rgba(91, 91, 91, 0.385);
    font-family: comf;
    font-size: 13px;
    font-weight: 600;
}

.page1{
    background-color: #a36322;
    color: white;
}

@media (max-width: 800px) {

    .students-content{
        width: 400px;
    }

    .student-text{
        padding: 0px 20px;
    }

    .student-card-img-name{
        padding-bottom: 20px;
    }

}